<div class="well">
	<h2>PUSH TO FRONT: publiser nyheter på Nasjonal UKM.no</h2>
	<p class="lead">
		Under fylkesmønstringene kan alle nettredaksjoner velge 3 nyhetssaker og 2 bilder som løftes opp på den nasjonale delen av UKM.no - selve forsiden!
	</p>
	<p>
		<a class="btn btn-primary" href="admin.php?page=UKMpush_to_front&action=learnmore">Lær mer om hva vi vil ha</a>
	</p>

	<form action="admin.php?page=UKMpush_to_front" method="post">	
		<div class="col-xs-12 col-sm-6">
			<h4>Nyhetssaker</h4>
			{% for i in 1..3 %}
				<div class="form-group">
					<label for="post_{{ i }}">Nyhetssak {{ i }}</label>
					<select name="post_{{ i }}" class="form-control" {{ UKMpush_to_front_post[i] == 0 ? 'selected="selected"' : '' }}>
						<option value="0">Ikke valgt</option>
						{% for post in my_posts %}
							<option value="{{post.ID}}" {{ UKMpush_to_front_post[i] == post.ID ? 'selected="selected"' : '' }}>{{post.title}}</option>
						{% endfor %}
					</select>
				</div>
			{% endfor %}
		</div>
		
		<div class="col-xs-12 col-sm-6">
			<h4>Cover-bilder <small><a href="#">Les dette før du endrer!</a></small></h4>
			<div class="form-group">
				<label for="cover_portrait">Stående</label>
				<input type="text" name="cover_portrait" class="form-control" value="{{UKMpush_to_front_cover_portrait}}" placeholder="Full URL" />
			</div>

			<div class="form-group">
				<label for="cover_landscape">Liggende</label>
				<input type="text" name="cover_landscape" class="form-control" value="{{UKMpush_to_front_cover_landscape}}" placeholder="Full URL" />
			</div>

		</div>
		<div class="clearfix"></div>
		<p>
			<button type="submit" class="btn btn-success">Lagre</button>
		</p>
		<div class="clearfix"></div>

	</form>
</div>	
		
