<table class="table table-dashboard noborder">
	<tbody>
		<thead>
		<tr>
			<th colspan="2">Push to Front</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Alle fylkesmønstringer får en egen plakat på forsiden av UKM.no to uker før mønstringen. Her kan du velge inntil 3 nyhetssaker, og et plakatbilde for å presentere din mønstring. Les mer og velg bilder på siden Push to Front.
			</td>
		</tr>
		
		{% for i in 1..3 %}
			<tr>
				<td>
					<label for="post_{{ i }}">Innlegg {{ i }}</label>
					<select id="post_{{ i }}" name="post_{{ i }}" class="form-control" {{ UKMpush_to_front_post[i] == 0 ? 'selected="selected"' : '' }}>
						<option value="0">Ikke valgt</option>
						{% for post in my_posts %}
							<option value="{{post.ID}}" {{ UKMpush_to_front_post[i] == post.ID ? 'selected="selected"' : '' }}>{{post.title}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td>
				<div class="col-xs-12 col-sm-6">
					<div id="saveptfbtn" class="btn btn-block btn-success">Lagre</div>
				</div>
				<div class="visible-xs">&nbsp;</div>
				<div class="col-xs-12 col-sm-6 visible-xs">
					<a href="?page=UKMpush_to_front" class="btn btn-block btn-info">Gå til Push to Front</a>
				</div>
				<div class="col-xs-12 col-sm-6 hidden-xs">
					<a href="?page=UKMpush_to_front" class="btn btn-block btn-info">Mer info</a>
				</div>
				
			</td>
		</tr>
	</tbody>
</table>	